
header{
    padding: 5px 0px 5px 0px;
    background-color: darkgrey;
    align-items: center;
    
}


.ad1{
    height: 600px;
     
    background-color: black;
    
    
    width: 100%;
}

.ad1 img{
    height: 600px;
    width: 100%;
}
.ad2{
    height: 600px;
    
    background-color: black;
    
    
    width: 100%;

}

.ad2 img{
    height: 600px;
    width: 100%;
}
.content{
    
    margin: 0 25%; 
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}


.name{
    text-align: center;
    
}

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
.home{
    margin: 5px 50px 5px 50px;
}
.categories{
    margin: 5px 50px 5px 50px;
}
.about{
    margin: 5px 50px 5px 50px;
}
.contact{
    margin: 5px 50px 5px 50px;
}

.title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.text{
    text-align: center;
    margin-top: 40px;
}


main{
    display: flex;
    justify-content: space-between;

    margin: 30px 0px 30px 0px;
}

.socialPic{
    width: 40px;
    height: 40px;
}

footer{
    margin: 30px 0px 30px 0px;
    padding: 10px 10px 20px 10px;
    clear: both;
    background-color:darkgray;
    text-align: center;
}

